<form method="post" action="/">
	<input type="submit" name="run_motor" value="Run Motor"/>
	<input type="submit" name="stop_motor" value="Stop Motor"/>
	<input type="submit" name="go_left" value="Go Left"/>	
	<input type="submit" name="go_right" value="Go Right"/>
	<input type="text" name="step_num" placeholder="number of steps"/>
	<input type="text" name="step_delay" placeholder="step delay"/> 
	<select name="direction" method="GET" action="/">
		<option value="True">Clockwise</option>
		<option value="False">Counter Clockwise</option>
	</select>
</form>